
    
body,html{
    width: auto!important;
    height: 100%;
    background-color: #08B2E3;
    font-family: 'Archivo Narrow', sans-serif;
}

header{
    background-color: #EE6352;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 50px;
}

#herotext{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bookDisplay{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bookText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 200px;
    color: white;
    background-color: #57A773;
    border-radius: 30px;
    border: thick solid #EE6352;}



@media only screen and (min-width: 900px) {
    .bookText {
      width: 1000px;
    }
  }